<%= form_for @user, html: {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    <label for="user_name" class="col-sm-2 control-label">用户名</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="user_email" class="col-sm-2 control-label">邮箱</label>
    <div class="col-sm-10">
      <%= f.text_field :email, type: "email", class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="user_password" class="col-sm-2 control-label">新密码</label>
    <div class="col-sm-10">
      <%= f.password_field :password, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="user_password_confirmation" class="col-sm-2 control-label">确认密码</label>
    <div class="col-sm-10">
      <%= f.password_field :password_confirmation, class: "form-control" %>
    </div>
  </div>

  <% if current_user && current_user.is?("系统管理员") %>
    <div class="form-group">
      <label for="user_roles" class="col-sm-2 control-label">用户角色</label>
      <div class="col-sm-10">

        <% ROLES.each do |role| -%>
          <%= check_box_tag 'user[roles][]', role, @user.is?(role) %> <%= role %> <br>
        <% end -%>

      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>

<% end %>