<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6">
          <h3>客户信息列表</h3>
        </div>
        <div class="col-md-6" style='text-align: right;'>
          <%= link_to '新建客户', new_customer_path, class: "btn btn-default", style: "margin-top: 20px;" %>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>客户名称</th>
          <th>客户地址</th>
          <th>操作</th> 
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |u| %>
          <tr>
            <td><%= u.id %></td>
            <td><%= u.name %></td>
            <td><%= u.address %></td>
            <td>
              <%= link_to "客户详情", customer_path(u), class: "btn btn-default" %>
              <%= link_to "编辑客户", edit_customer_path(u), class: "btn btn-default" %>
            </td> 
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @customers %>
  </div>
  <div class="col-md-1"></div>
</div>

