<%= f.fields_for :order_details do |order_details_form| %>
  <tr>
    <td>删除</td>
    <td><%= order_details_form.text_field :product_id %></td>
    <td><%= order_details_form.text_field :product_id %></td>
    <td><%= order_details_form.text_field :amount %></td>
    <td><%= order_details_form.text_field :product_id %></td>
    <td><%= order_details_form.text_field :discount %></td>
    <td><%= order_details_form.text_field :sum %></td>
  </tr>
<% end %>

