<h1>Listing orders</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Customer</th>
      <th>Totle amount</th>
      <th>Totle sum</th>
      <th>Inceptor</th>
      <th>Saleman</th>
      <th>Creator</th>
      <th>Statr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.code %></td>
        <td><%= order.customer_id %></td>
        <td><%= order.totle_amount %></td>
        <td><%= order.totle_sum %></td>
        <td><%= order.inceptor %></td>
        <td><%= order.saleman %></td>
        <td><%= order.creator_id %></td>
        <td><%= order.statr %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_path %>
