<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <div class="row">
        <div class="col-md-10">
          <h3>订单信息列表</h3>
        </div>
        <div class="col-md-2" style='text-align: right;'>
          <% if can_access("前台客服") %>
            <%= link_to '新建订单', new_order_path, class: "btn btn-cs", style: "margin-top: 20px;" %>
          <% end %>
        </div>
      </div>
    </div>

    <%= search_form_for @q, class: "form-inline", html: {style: "margin-bottom: 10px;"} do |f| %>
      <div class="form-group">
        <label class="sr-only" for="q_code_cont"></label>
        <%= f.search_field :code_cont, class: "form-control", placeholder: "订单编号" %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="q_customer_name_cont"></label>
        <%= f.search_field :customer_name_cont, class: "form-control", placeholder: "客户名称" %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="q_pass_time_gteq"></label>
        <%= f.search_field :pass_time_gteq, class: "form-control datetimepicker4", placeholder: "审核通过起始日期" %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="q_pass_time_lteq"></label>
        <%= f.search_field :pass_time_lteq, class: "form-control datetimepicker4", placeholder: "审核通过结束日期" %>
      </div>

      <div class="form-group">
        <label class="sr-only" for="q_pass_time_lteq"></label>
        <%= f.select :aasm_state_eq, options_for_select(Order::STATE_HASH.invert, @q.aasm_state_eq), {include_blank: "请选择状态"}, {:class => 'form-control'} %>
      </div>

      <button type="submit" class="btn btn-primary">查询</button>
      <button type="submit" id="search_reset" class="btn btn-warning">重置</button>
    <% end %>


    <table class="table table-condensed table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>订单编号</th>
          <th>客户名称</th>
          <th>客户地址</th>
          <th>数量合计</th>
          <th>金额合计</th>
          <th>签收人</th>
          <th>业务员</th>
          <th>制单员</th>
          <th>订单状态</th>
          <th>操作</th> 
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |u| %>
          <tr>
            <td><%= u.id %></td>
            <td><%= u.code %></td>
            <td><%= u.customer.name if u.customer %></td>
            <td><%= u.customer.address if u.customer %></td>
            <td><%= u.totle_amount %></td>
            <td><%= u.totle_sum %></td>
            <td><%= u.inceptor %></td>
            <td><%= u.saleman %></td>
            <td><%= u.creator.name if u.creator %></td>
            <td class="state_<%= u.id %>"><%= u.state_cn %></td>
            <td>
              <%= link_to "订单详情", fancybox_show_order_path(u), class: "btn btn-default fancybox fancybox.iframe", target: "_blank" %>
              
              <% if u.may_submit? && can_access("前台客服") %>
                <%= link_to "编辑订单", edit_order_path(u), class: "btn btn-cs" %>
                <button type="button" class="btn btn-cs to_pand" p-id="<%= u.id %>">提交审核</button>
              <% end %>
              <% if u.panding? && can_access("财务部门") %>
                <button type="button" class="btn btn-fa pand_pass" p-id="<%= u.id %>">审核通过</button>
                <button type="button" class="btn btn-fa pand_back" p-id="<%= u.id %>">审核驳回</button>
              <% end %>
              <% if u.passed? && can_access("仓库") %>
                <button type="button" class="btn btn-stm to_deliver" p-id="<%= u.id %>">发货</button>
                <button type="button" class="btn btn-stm pand_back" p-id="<%= u.id %>">物流驳回</button>
              <% end %>
              <% if u.delivered? && can_access("仓库") %>
                <%= link_to "打印", print_order_order_path(u), id: "print_#{u.id}", class: "btn btn-stm", target: "_blank", style:"color: #FFF;" %>
              <% end %>
              <% if u.may_cancel? && can_access("前台客服") %>
                <button type="button" class="btn btn-cs to_cancel" p-id="<%= u.id %>">作废</button>
              <% end %>
            </td> 
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @orders %>
  </div>
  <div class="col-md-1"></div>
</div>

<script type="text/javascript">
  // controller & action
  var current_controller = "<%= params[:controller] %>";
  var current_action = "<%= params[:action] %>";
</script>
