<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <h3>订单信息详情</h3>
    </div>

    <div class="jumbotron">
      <table class="table table-bordered">
        <tr>
          <td colspan='7'>出货单</td>
        </tr>
        <tr>
          <td colspan='7'>商贸有限公司 电话：XXXX</td>
        </tr>
        <tr>
          <td colspan='1'>客户名称：</td>
          <td colspan='3'>名称</td>
          <td colspan='1'>编号：</td>
          <td colspan='2'>编号</td>
        </tr>
        <tr>
          <td colspan='1'>客户地址：</td>
          <td colspan='3'>地址</td>
          <td colspan='1'>时间：</td>
          <td colspan='2'>时间</td>
        </tr>
        <tr>
          <td></td>
          <td>品名及规格</td>
          <td>单位</td>
          <td>数量</td>
          <td>价格</td>
          <td>折扣（％）</td>
          <td>金额</td>
        </tr>
        <% @order.order_details.each_with_index do |d, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= d.product.name %></td>
            <td><%= d.product.unit %></td>
            <td><%= d.amount %></td>
            <td><%= d.product.price %></td>
            <td><%= d.discount %></td>
            <td><%= d.sum %></td>
          </tr>
        <% end %>
        <tr>
          <td colspan='3'>数量合计</td>
          <td></td>
          <td colspan='3'></td>
        </tr>
        <tr>
          <td colspan='3'>金额合计</td>
          <td colspan='3'></td>
          <td></td>
        </tr>
        <tr>
          <td>签收人：</td>
          <td colspan='2'></td>
          <td>业务员：</td>
          <td></td>
          <td>制单：</td>
          <td></td>
        </tr>
      </table>


      <table class="table">
        <tr>
          <td>订单编号：</td>
          <td><%= @order.code %></td>
        </tr>

        <tr>
          <td>客户名称：</td>
          <td><%= @order.customer.name %></td>
        </tr>

        <tr>
          <td>客户地址：</td>
          <td><%= @order.customer.address %></td>
        </tr>

        <tr>
          <td>数量合计：</td>
          <td><%= @order.totle_amount %></td>
        </tr>

        <tr>
          <td>金额合计：</td>
          <td><%= @order.totle_sum %></td>
        </tr>

        <tr>
          <td>签收人：</td>
          <td><%= @order.inceptor %></td>
        </tr>

        <tr>
          <td>业务员：</td>
          <td><%= @order.saleman %></td>
        </tr>

        <tr>
          <td>制单员：</td>
          <td><%= @order.creator.name %></td>
        </tr>

        <tr>
          <td>订单状态：</td>
          <td><%= @order.state %></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
