<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid" style="padding-left: 400px; padding-right: 400px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to '订单管理系统', root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "用户列表", users_path %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to current_user.name, user_path(current_user) %></li>
          <li><%= link_to "退出", '/logout' %></li>
        <% else %>
          <li><%= link_to '登录', '/login' %></li>
          <li><%= link_to '注册', '/signup' %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>