<%= form_for(@product, html: {class: "form-horizontal"}) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="product_name" class="col-sm-2 control-label">产品名称及规格</label>
    <div class="col-sm-10">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="product_unit" class="col-sm-2 control-label">产品单位</label>
    <div class="col-sm-10">
      <%= f.text_field :unit, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <label for="product_price" class="col-sm-2 control-label">产品单价</label>
    <div class="col-sm-10">
      <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">提交</button>
    </div>
  </div>
<% end %>
