<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <div class="row">
        <div class="col-md-6">
          <h3>产品信息列表</h3>
        </div>
        <div class="col-md-6" style='text-align: right;'>
          <%= link_to '新建产品', new_product_path, class: "btn btn-default", style: "margin-top: 20px;" %>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>产品名称及规格</th>
          <th>产品单位</th>
          <th>产品单价</th>
          <th>操作</th> 
        </tr>
      </thead>
      <tbody>
        <% @products.each do |u| %>
          <tr>
            <td><%= u.id %></td>
            <td><%= u.name %></td>
            <td><%= u.unit %></td>
            <td><%= u.price %></td>
            <td>
              <%= link_to "查看产品详情", product_path(u), class: "btn btn-default" %>
              <%= link_to "更改产品信息", edit_product_path(u), class: "btn btn-default" %>
            </td> 
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate @products %>
  </div>
  <div class="col-md-1"></div>
</div>

