<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="page-header">
      <h3>产品信息详情</h3>
    </div>

    <div class="jumbotron">
      <table class="table">
        <tr>
          <td>产品名称及规格：</td>
          <td><%= @product.name %></td>
        </tr>

        <tr>
          <td>产品单位：</td>
          <td><%= @product.unit %></td>
        </tr>

        <tr>
          <td>产品单价：</td>
          <td><%= @product.price %></td>
        </tr>
      </table>
    </div>

  </div>
  <div class="col-md-1"></div>
</div>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
